@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 2000px;
    background-color: black;
    
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.548), rgb(0, 0, 0)), url(img/notebook5.jpg) no-repeat center center / cover;
    overflow: hidden; /*Overflow: hidden faz com que o elemento não escape do escopo*/
}

#tecnologia{
    color: white;
    font-size: 3.5em;
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    width: 100vw;
}
